<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jz1501.chenhc.diploma.tfbook.dao.AddressDao">
    <sql id="address_column">
        id addressId,receive_name receiveName,addr_name addrName,zipcode zipCode,receive_tel receiveTel,user_id userId,
        nick_addr_name nickAddrName,nick_addr_id nickAddrId,province_addr provNameAddr,city_addr cityNameAddr,
        area_addr areaNameAddr
    </sql>
    <select id="selectAddressById" resultType="Address">
        select
        <include refid="address_column"/>
        from tf_address
        where user_id=#{userId} and nick_addr_id=#{nickAddrId}
    </select>

    <select id="selectAddressByUserId" resultType="Address">
        select
        <include refid="address_column"/>
        from tf_address
        where user_id=#{userId}
    </select>

    <!--插入新地址-->
    <insert id="insertNewAddress" parameterType="Address">
        insert into tf_address(id,receive_name,addr_name,zipcode,receive_tel,user_id,nick_addr_name,nick_addr_id,
        province_addr,city_addr,area_addr)
        values(#{addressId},#{receiveName},#{addrName},#{zipCode},#{receiveTel},#{userId},#{nickAddrName},#{nickAddrId},
        #{provNameAddr},#{cityNameAddr},#{areaNameAddr})
    </insert>

    <update id="updateOldAddress" parameterType="Address">
        UPDATE tf_address
        <trim prefix="set" suffixOverrides=",">
            <if test="receiveName!=null and receiveName!=''">
                receive_name=#{receiveName},
            </if>
            <if test="provNameAddr!=null and provNameAddr!=''">
                province_addr=#{provNameAddr},
            </if>
            <if test="cityNameAddr!=null and cityNameAddr!=''">
                city_addr=#{cityNameAddr},
            </if>
            <if test="areaNameAddr!=null and areaNameAddr!=''">
                area_addr=#{areaNameAddr},
            </if>
            <if test="addrName!=null and addrName!=''">
                addr_name=#{addrName},
            </if>
            <if test="receiveTel!=null and receiveTel!=''">
                receive_tel=#{receiveTel},
            </if>
            <if test="zipCode!=null and zipCode!=''">
                zipcode=#{zipCode},
            </if>
        </trim>
        where id=#{addressId}

    </update>

    <select id="selectOneAddressByID" parameterType="String" resultType="Address">
        select
        <include refid="address_column"/>
        from tf_address
        where id=#{addressId}
    </select>


</mapper>