<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jz1501.chenhc.diploma.tfbook.dao.UserMapper">

    <insert id="insertIntoUser" parameterType="com.jz1501.chenhc.diploma.tfbook.entity.User">
        insert into tf_user values(#{userId},#{userName},#{password},#{email},#{salt},#{status},#{registTime},#{sex},#{birthdate},#{phone},#{nickName})
    </insert>

    <select id="selectByNameAndPassword" resultType="User">
        SELECT id as userId,user_name as userName,nick_name as nickName,password,email from tf_user where email=#{email} and password=#{password}
    </select>

    <select id="examineEmailExistOrNot" parameterType="String" resultType="String">
        select email from tf_user where email=#{email}
    </select>

    <select id="examinePhoneNumExist" parameterType="String" resultType="String">
        select phone from tf_user where phone=#{phone}
    </select>

</mapper>
